.header__line {
  border: none; 
  background-color: rgba(84, 84, 84, .7);
  height: 1px; 
  width: 100%;
  margin: 32.2px 0 0 0;
 }

 @media screen and (max-width: 449px) {
  .header__line {
    margin-top: 23.5px;
  }
}