.header__logo {
  max-width: 142px;
  max-height: 33px;
  margin-top: 45px;
}

@media screen and (max-width: 949px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-top: 28px;
  }
}

@media screen and (max-width: 449px) {
  .header__logo {
    max-width: 103.74px;
    max-height: 24.4px;
  }
}