.header-container {
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 1023px) {
  .header-container {
    max-width: 850px;
  }
}

@media screen and (max-width: 949px) {
  .header-container {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    max-width: 450px;
    min-width: 420px;
  }
}

@media screen and (max-width: 449px) {
  .header-container {
    max-width: 430px;
    min-width: 300px;
  }
}